<p style="color: green"><%= notice %></p>
  <div class="container">

    <h1 class="inline">
      Contacts
    <%= link_to new_contact_path do %>
        <i class="fa-plus" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add New Contact"></i>
    <% end %>
    </h1>

    <div id="contacts">
        <table class="table table-striped border">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Clinic Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @contacts.each do |contact| %>
            <tr>
              <th scope="row"><%= contact.id %></th>
              <td><%= contact.first_name %> <%= contact.last_name %></td>
              <td><%= contact.company %></td>
              <td><%= contact.phone %></td>
                <td><%= link_to contact do %>
                <i class="fa-solid fa-eye fa-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="View Contact"></i>
                <% end %>
              <%= link_to edit_contact_path(contact) do %>
                <i class="fa-solid fa-pen-to-square fa-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Contact"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>